<!DOCTYPE html>
<html lang="en">
<head>
    <title>Padmin | Raspberry Pi Dashboard</title>
    <meta http-equiv="refresh" content="300">

    <link rel="stylesheet" href="css/bundle.min.css">
    <link rel="stylesheet" href="css/app.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Source+Sans+Pro:200,400,700" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="">PyMonitor</a>

    <div class="navbar ml-auto">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <small>
                    {{ core.data.platform.distro }} ({{ core.data.platform.kernel }})
                    <br>
                    Uptime: {{ core.data.uptime.uptime }}
                </small>
            </li>
        </ul>
    </div>
</nav>
<div class="container my-5">
    {% block content %}
    {% endblock %}
</div>
<script type="text/javascript" src="js/bundle.min.js"></script>
<script type="text/javascript" src="js/app.min.js"></script>
{% block scripts %}
{% endblock %}
</body>
</html>